@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   font-size: 0.8em;
   font-family: /* 英字用のフォントを指定 */ 'Raleway', /* 日本語用のフォントを指定 */ 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'メイリオ', Meiryo, sans-serif;
}

td {
   padding: 2px;
   margin: 0px;
   border-bottom: solid 1px #dddddd;
}