@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   font-size: 1.5em;
   font-family: /* 英字用のフォントを指定 */ 'Raleway', /* 日本語用のフォントを指定 */ 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'メイリオ', Meiryo, sans-serif;
}

th {
   font-weight: bold;
   @apply text-white;
   @apply bg-teal-800;
   text-align: center;
}


td {
   padding: 2px;
   margin: 0px;
   border-bottom: solid 1px #dddddd;
}

@keyframes flashing {
   0% {
     @apply: bg-teal-200;
   }
 
   50% {
     @apply: bg-yellow-800;
     @apply: text-red;
   }
   
   100% {
     @apply: bg-teal-200;
   }
 }

.state-idle {
   @apply bg-teal-200;
}

.state-active {
   @apply bg-teal-800;
   @apply text-white;
}

.state-warning {
   @apply bg-yellow-300;
   animation-name: 'flashing';
   animation-duration: 2.4s;
   animation-timing-function: linear;
   animation-fill-mode: forwards;
   animation-iteration-count: infinite;   
}

.state-error {
   @apply bg-red-200;
}


